/* Google font Fraunces  & Barlow */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

:root {
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desat-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-mod-cyan: hsl(168, 34%, 41%);
  /* Neutral */
  --v-dark-desat-blue: hsl(212, 27%, 19%);
  --v-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --body-font-size: 18px;
  --header-font-size: 1.8rem;

  --font-family-barlow: "Barlow", sans-serif;
  --font-family-fraunces: "Fraunces", serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size);
  text-align: center;
}
body{
  overflow-x: hidden;
  font-family: var(--font-family-barlow);
}
.mobile-imgs{
  width: 100vw;
}
.desktop-imgs{
  display: none;
}
.desktop{
  display: none;
}
header{
  margin-bottom: 3em;
  margin-top: 1.3em;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 4em;
  width: 320px;
  height: 250px;
  padding: 8em 0;
  margin: 0 -8px;
  list-style: none;
  background-color: var(--white); 
  text-align: center;
  line-height: 2.6em;
}
nav ul::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 30px solid var(--white);
  border-left: 30px solid transparent;
  position: absolute;
  left: 90.5%;
  top: -15px;
}
nav a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
nav li{
background: none;
transition: .6s;
}
nav li:not(last-child):hover{
  background-color: var(--yellow);
  color: var(--v-dark-grayish-blue);
  border-radius: 30px;
  margin: 0 50px;
}
#contact {
  text-transform: uppercase;
  font-family: var(--font-family-fraunces);
  background: var(--yellow);
  color: var(--v-dark-grayish-blue);
  margin: 15px 50px 10px;
  border-radius: 2em;
  transition:  all .5s;
}
#contact:hover{
margin: 15px 0 10px;
background: none;
}
.burger-icon{
  display: block;
  cursor: pointer;
}
.close-icon{
  width: 20px;
  height: 20px;
  filter: invert();
  cursor: pointer;
 display: none;
}
.img-header-mobile {
  display: block;
  position: absolute;
  max-width: 100%;
  top: 0;
  z-index: -5;
}
.hide{
  display: none;
}
.show{
  display: block;
}

.creatives{
  text-align: center;
  position: relative;
  top: 70px;
  z-index: -1;
}
.creatives h1{
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--font-family-fraunces);
letter-spacing: .6rem;
font-weight: 900;
font-size: var(--header-font-size);
 position: relative;
 top: 0%;
 margin-bottom: 1.5em;
}
.transform{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10em;
}
.center-section{
  margin: 50px 20px;
}
.center-section h2{
  font-family: var(--font-family-fraunces);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: .7em;
}
.center-section p{
color: var(--grayish-blue);
font-family: var(--font-family-barlow);
line-height: 1.5em;
margin-bottom: 2em;
}
.center-section .learn-more{
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-family-fraunces);
  font-weight: 800;
  color: var(--dark-desat-blue);

}
 .learn1::before{
 content: "";
 position: absolute;
 z-index: -1;
 margin-top: .9em;
 margin-left: -10px;
 width: 150px;
 height: 10px;
 border-radius: 20px;
 background-color: var(--yellow);
 opacity: .2;
}
.learn2::before{
 content: "";
 position: absolute;
 z-index: -1;
 margin-top: .9em;
 margin-left: -10px;
 width: 150px;
 height: 10px;
 border-radius: 20px;
 background-color: var(--soft-red);
 opacity: .2;
}
.move-up{
  position: relative;
  top: -12em;
  margin: 0 0em -6.5em;
  line-height: 1.6em;
}
.move-up h3{
  text-transform: capitalize;
  font-family: var(--font-family-fraunces);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1em;
}
.teal .move-up{
  color: var(--dark-desat-cyan);
}
.blue .move-up{
  color: var(--dark-blue);
}
.blue{
  margin-top: -10em;
}
.testimonials h4{
  text-transform: uppercase;
  font-family: var(--font-family-fraunces);
  font-weight: 800;
  letter-spacing: .2em;
  color: var(--grayish-blue);
  margin: 2em 0 4em;
}
.testimonials img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 2.1em;
}
.testimonials p{
  color: var(--v-dark-grayish-blue);
  line-height: 1.8em;
  margin: 0 1em 0;
}
.testimonials .name{
font-family: var(--font-family-fraunces);
color: var(--dark-desat-blue);
margin: 1.9em 0 0;
}
.testimonials .title{
  color: var(--grayish-blue);
  font-size: .9rem;
  margin-bottom: 3em;
}
.gallery img{
  width: 50vw;
}
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
 margin-bottom: -.2em;
 
}
footer{
  padding: 5em 0;
  margin-bottom: 2em;
  background-color: hsl(168, 57%, 72%);
  color: var(--dark-desat-cyan);
  font-family: var(--font-family-barlow);
}
 .footer-logo{
width: 10em;
  margin-bottom: 2em;
}
footer ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 3em;
}
footer a{
  text-decoration: none;
  color: var(--dark-mod-cyan);
}
footer .social-media{
  display: flex;
  justify-content: space-around;
  margin: 0 4em;
}

.attribution {
  background-color:hsl(199, 70%, 53%);
  color: var(--v-dark-desat-blue);
  font-size: 11px;
  text-align: center;
 
  padding: 1em 7em;
}
.attribution a {
  text-decoration: none;
  font-size: .5rem;
  font-family: var(--font-family-fraunces);
  color: rgb(196, 37, 37);
  
}
